#navbar-container {
  border-bottom: 3px solid #04c2c9;
  transition: 0.5s ease-in-out;
  background-color: #1b242f;

  .text-secondary {
    color: #e31b6d;
  }

  a {
    color: white;
    transition: 0.5s ease-in-out;
  }

  a:hover {
    color: #e31b6d;
    transition: 0.5s ease-in-out;
  }
}
