#about-container {
  .hexagon {
    cursor: default;
    position: relative;
    width: 100px;
    height: 57.73502691896258px;
    background-color: #04c2c9;
    margin: 28.86751345948129px auto 0 auto;
    box-shadow: 0 0 0px rgba(0, 255, 255, 1);
    border-left: solid 0px #f47721;
    border-right: solid 0px #f47721;
    display: grid;
    transition: 0s;
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 70.71067811865474px;
    height: 70.71067811865474px;
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 14.64466094067263px;
    box-shadow: 0 0 0px rgba(0, 255, 255, 1);
    transition: 0s;
  }

  .hexagon:before {
    top: -35.35533905932737px;
    border-top: solid 0px #f47721;
    border-right: solid 0px #f47721;
  }

  .hexagon:after {
    bottom: -35.35533905932737px;
    border-bottom: solid 0px #f47721;
    border-left: solid 0px #f47721;
  }

  .hexagon span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    top: 0px;
    left: 0;
    width: 100px;
    height: 57.735px;
    z-index: 2;
    background: inherit;
    transition: 0s;
  }

  #my-skills {
    .apexcharts-menu-icon,
    .apexcharts-xaxis {
      display: none;
    }

    line {
      display: none;
    }

    tspan {
      font-weight: bolder;
    }

    path {
      fill: #04c2c9;
    }
  }
}
