#landing-container {
  .text-secondary {
    color: #e31b6d;
  }

  button {
    transition: 0.3s ease-out;

    #arrow-icon {
      transition: 0.4s ease-out;
    }
  }

  button:hover {
    background-color: #04c2c9;
    border-color: #04c2c9;
    transition: 0.3s ease-in;

    #arrow-icon {
      transition: 0.4s ease-in;
      transform: rotate(180deg);
    }
  }
}
